html {
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    display: grid;
    gap: 15px;
    padding: 9px;
    overflow-x: scroll;
    overflow-y: scroll;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    user-select: none;
}

#header {
    width: 90vw;
    height: 3vw;
    text-align: center;
    align-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5vw;
}

#caption {
    padding: 6px;
    width: 90vw;
    height: 1vw;
    text-align: center;
    align-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
}


#elementinp {
    height: 2.5vw;
    font-size: 2vw;
}

#table {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.1fr repeat(15, 1fr);
    grid-template-rows: repeat(7, 1fr) 0.4fr repeat(2, 1fr);
    width: 90vw;
    gap: 2px;
    padding: 5px;
}

.info {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    grid-column: span 11;
    grid-row: span 3;
    padding: 1px;
}

.element {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 0.2fr 1.7fr 0.5fr 0.6fr;
    align-items: center;
    padding: 1px;
    width: 93%;
    height: 95%;
    gap: 2px;
}

.an {
    text-align: right;
    font-size: 0.7vw;
    justify-content: center;
}
.es {
    display: flex;
    text-align: center;
    justify-self: center;
    font-size: 1.3vw;
}
.name {
    display: flex;
    text-align: center;
    justify-self: center;
    font-size: 0.8vw;
}
.am {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.7vw;
}